<!DOCTYPE html>
<html>

<head>
 

</head>
<body>
    
    <script>
        @* 
        save base url as a global variable to use in javascript functions declared in outside files where 
            razor is not available to use
         *@
        var BASE_URL = '@Url.Content("~/")';
    </script>

    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
               
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="inside-body-content">
            <div class="logo-container">
                <img id="header-logo" src="@Url.Content("~/Content/Images/LogoPC.png")" />
            </div>
            <hr id="top-divider" style="border-color:#FF3B30;" />
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Proxy Chat</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
